<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Express</title>
	</head>
	<body>
		<h1>Express</h1>
		<p>
			Express is a "Fast, unopinionated, minimalist web framework for
			Node.js"
		</p>
		<p>
			So basically Express lets you do stuff with databases, api's, page
			routing.
		</p>
		<p>Honestly read the docs lol.</p>
	</body>
</html>
