<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<!-- HTML Reminders -->
		<div>
			<h1>HTML Reminders</h1>
			<!-- New Line -->
			<div>
				<h3>New Line</h3>
				<p>&lt; br\ &gt;</p>
				<p>
					NOTE: We had to use a special character when typing the less
					than greater than
				</p>
				<p>-> &#38;theName;</p>
			</div>
		</div>
	</body>
</html>
