<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/style.css" />
		<title>Document</title>
	</head>
	<body>
		<nav class="navbar navbar-fixed" id="nav">
			<!-- Side nav -->
			<div class="col">
				<div class="btn-group">
					<button
						class="btn btn-secondary btn-sm dropdown-toggle"
						type="button"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						Small button
					</button>
					<div class="dropdown-menu">
						<a href="htmlReminders\semantics.html">Semantics</a>
					</div>
				</div>
			</div>
		</nav>
		<div>
			<h1>Semantics</h1>
			<p>Some semantic elements have default styling.</p>
			<!-- Article -->
			<div>
				<h3>Article</h3>
				<article>
					<h1>Example article h1</h1>
					<p>Font size is smaller than the h1 outside of article</p>
				</article>
			</div>
		</div>
	</body>
</html>
